h1{
        text-align: center;
}
form{
    background-image: url("bg.jpg");
        margin:auto;
        width:50%;
        padding:10px;
        position:center;
}
fieldset {
    border: 1px solid #000;
}

.text{
        
        width:100%;
        height:30px;    
}
.sub{
        background-color: #DCDCDC;
}